.collapse navbar-collapse{
    background-color: darkblue;
}

.div-content{
    margin-left:70px ;
    color: seashell;
}

.home{
    color: seashell;
}

.labelText{
    margin-left: 150px;
    color: white;
}

.search{
    margin-left: 30px;
    color: white;
}

.sort-card{
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}

.sortby{
    margin-left: 800px;
    border: none;
}

.block-box{
    margin-top: 150px;
    display: flex;
}

.block1{
    background-color: white;
    margin-left: 50px;
    text-align: center;
    width: 250px;
    height: 300px;
    font-size: 30px;
    margin-right: 30px;
    box-shadow: 0 1.3px 4.4px rgba(0, 0, 0, 0.189),
        0 3.3px 11.2px rgba(0, 0, 0, 0.271),
        0 6.7px 22.9px rgba(0, 0, 0, 0.339),
        0 13.9px 47.1px rgba(0, 0, 0, 0.421),
        0 38px 129px rgba(0, 0, 0, 0.61);
}

.block2{
    background-color: white;
    margin-left: 50px;
    text-align: center;
    width: 250px;
    height: 300px;
    font-size: 30px;
    margin-right: 30px;
    box-shadow: 0 1.3px 4.4px rgba(0, 0, 0, 0.189),
        0 3.3px 11.2px rgba(0, 0, 0, 0.271),
        0 6.7px 22.9px rgba(0, 0, 0, 0.339),
        0 13.9px 47.1px rgba(0, 0, 0, 0.421),
        0 38px 129px rgba(0, 0, 0, 0.61);
}

.block3{
    background-color: white;
    margin-left: 50px;
    text-align: center;
    width: 250px;
    height: 300px;
    font-size: 30px;
    margin-right: 30px;
    box-shadow: 0 1.3px 4.4px rgba(0, 0, 0, 0.189),
        0 3.3px 11.2px rgba(0, 0, 0, 0.271),
        0 6.7px 22.9px rgba(0, 0, 0, 0.339),
        0 13.9px 47.1px rgba(0, 0, 0, 0.421),
        0 38px 129px rgba(0, 0, 0, 0.61);
}

.block4{
    background-color: white;
    margin-left: 50px;
    text-align: center;
    width: 250px;
    height: 300px;
    font-size: 30px;
    margin-right: 30px;
    box-shadow: 0 1.3px 4.4px rgba(0, 0, 0, 0.189),
        0 3.3px 11.2px rgba(0, 0, 0, 0.271),
        0 6.7px 22.9px rgba(0, 0, 0, 0.339),
        0 13.9px 47.1px rgba(0, 0, 0, 0.421),
        0 38px 129px rgba(0, 0, 0, 0.61);
}