/* You can add global styles to this file, and also import other style files */

.title-app{
  padding-left: 600px;
  background-color: blueviolet;
  height: 80px;
}

.top{
    /*padding-left: 1px;
    background-color: blueviolet;*/
    height: 80px;
}

.margin-left{
    margin-left: 50px !important;
    background-color:  blueviolet;
    color: beige;
}

.title{
    height:50px;
    text-align: center;
}

.data{
    margin-top: 20px;
    margin-left: 500px;
    height: 500px;
    
}



