<div class='title-app'>
    <h1><b><i>Student Application</i></b></h1>

    <a routerLink="/addnew" routerLinkActive="active">
        <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 margin-left">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
    </a>

    <a routerLink="/displayData" routerLinkActive="active">    
        <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2 margin-left">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> More Info.
        </button>
    </a> 
</div>